@use "sass:map";

$breakpoints: (
        xs: 480px,
        sm: 640px,
        md: 768px,
        lg: 1024px,
        xl: 1280px,
        2xl: 1536px
);

// min-width (mobile-first)
@mixin respond-to($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    @media (min-width: map.get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Breakpoint '#{$breakpoint}' not found in $breakpoints map.";
  }
}

// max-width (desktop-first)
@mixin respond-to-max($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    @media (max-width: map.get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Breakpoint '#{$breakpoint}' not found in $breakpoints map.";
  }
}