@use "variables" as *;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --green-400: #22c55e;
  --red-400: #ef4444;
  --gray-300: #c0c0c0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

table {
  margin: 2rem;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;

  th,
  td {
    padding: 1rem 2rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  thead th {
    border-bottom: 1px solid #ddd;
    font-weight: 600;
  }
  tbody tr {
    transition: all 0.5s ease;
  }

  tbody tr:hover {
    background-color: #ddd;
  }
}
