@use "variables" as *;
@use "breakpoints" as bp;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --green-400: #22c55e;
  --red-400: #ef4444;
  --gray-300: #c0c0c0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layout-container {
  position: relative;
  display: flex;

  flex-direction: column;

  @include bp.respond-to(md) {
    flex-direction: row;
  }
}

.layout-content {
  flex: 1;

  padding: 1.5rem;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

