@use "variables" as *;
@use "breakpoints" as *;

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-Noto), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  border: none;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
}
h2 {
  font-size: 1rem;
  font-weight: 500;
}

h3 {
  font-size: 0.8rem;
  font-weight: 500;
}

h4,
p {
  font-size: 0.8rem;
  font-weight: 400;
  color: $sub-500;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
