@use "variables" as *;
@use "breakpoints" as bp;

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layout-container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;

  @include bp.respond-to(md) {
    flex-direction: row;
    height: 100vh;
  }
}

.layout-content {
  flex: 1;
  padding: 1.5rem;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;

  @include bp.respond-to(md) {
    height: 100vh;
    min-height: auto;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
