@use "../../../styles/variables" as *;
@use "../../../styles/_breakpoints" as *;
.container {
  height: 100%;
}
.navbar {
  width: fit-content;
  background: $sub-50;
  padding: 1rem 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  height: 100vh;
  position: relative;
  top: 0;

  @include respond-to-max(md) {
    background: $sub-0;
    width: 100%;
    height: auto;
  }
  .navbar_inner {
    @include respond-to-max(md) {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
    }
  }
  .logo {
    display: flex;
    align-items: baseline;
    .logo_mark {
      font-size: 1.4rem;
      font-weight: 800;
      color: $sub-1000;
    }
    .logo_status {
      padding-left: 10px;
      font-size: 1rem;
      color: $sub-1000;
      font-weight: 500;
    }
    .logo_dot {
      font-size: 1.4rem;
      font-weight: 800;
      color: $sub-400;
    }
  }
  .box {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    gap: 10px;
    @include respond-to-max(md) {
      margin-top: 0;
      flex-direction: row;
    }
    .button_create {
      display: flex;
      background-color: $sub-1000;
      align-items: center;
      padding: 8px;
      border-radius: 8px;

      @include respond-to-max(md) {
        background-color: transparent;
        flex-direction: column;
        height: fit-content;
        width: fit-content;
        padding: 0;
      }

      .action_plus {
        width: 2rem;
        height: 2rem;
      }
      .quickCreate {
        color: $sub-0;
        @include respond-to-max(md) {
          display: none;
        }
      }
    }

    .action_hamberger {
      display: none;
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      @include respond-to-max(md) {
        display: block;
      }
    }
    .button_list {
      padding: 8px;
      display: flex;
      align-items: center;
      gap: 10px;
      border-radius: 8px;
      transition: all 0.5s ease;
      .blog_image {
        object-fit: contain;
        object-position: center;
      }
      @include respond-to-max(md) {
        display: none;
      }
    }

    .button_list:hover {
      background-color: $sub-100;
    }
  }
  .tab_admin {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include respond-to-max(md) {
      display: none;
    }
    .admin {
      display: flex;
      align-items: center;
      gap: 10px;
      .blog_icon {
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        overflow: hidden;
      }
      .name {
        font-size: 1rem;
        font-weight: 400;
      }
      .email {
        font-size: 0.75rem;
        color: gray;
      }
    }
  }
}
.navSlide {
  position: fixed;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: $sub-1000;
  width: min(50vw, 20rem);
  height: 100vh;
  gap: 25px;
  padding: 20px 0;
  font-weight: bold;
  animation: slide 0.7s ease 0.3s;
  @keyframes slide {
    from {
      transform: translateX(250px);
    }
    to {
      transform: translateX(0px);
    }
  }
}
.navSlide_imageContainer {
  padding-left: 15px;
}
.navSlide_menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 10px;
}

.navSlide_title {
  color: $sub-0;
  padding: 10px;
  border-radius: 8px;
  transition: all 0.5s ease;
}

.navSlide_title:hover {
  background-color: $sub-800;
}
.navSlide_auth {
  padding: 10px 20px;
  background-color: $sub-0;
  color: $sub-1000;
}
