@import "../../../styles/variables";
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 703px;
  height: 416px;
  background-color: $sub-0;
  position: relative;
  z-index: 2;
  padding: 25px 25px;
  border-radius: 10px;

  .content{
    display:  flex;
    justify-content: space-between;
    gap: 30px;
    .formSection {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 12px;
      h2{
        font-size: 1.1rem;
        font-weight: 500;
      }
      p{
        font-size: 0.9rem;
        color: $sub-500;
        font-weight: 300;
      }
      .field{
        display: flex;
        flex-direction: column;
        label{
          font-size: 0.9rem;
          font-weight: 400;
          margin-bottom:  10px;
          span{
            color: $red-600;
          }
        }
        .name{
          padding: 8px 10px;
          border-radius: 5px;
          border: 2px solid $sub-300;
          &::placeholder {
            color: $sub-300;
          }
        }
        .description{
          padding: 10px;
          border-radius: 5px;
          border: 2px solid $sub-300;
          min-height: 100px;
          resize: none;

          &::placeholder {
            color: $sub-300;
          }
        }
      }
    }
    .rightSection {
      flex: 1;
    }
  }
}
