@import "../../../styles/variables";

.container {
  margin-top: 120px;
  margin-inline: auto;
  width: 703px;
  height: 416px;
  border: 1px solid $sub-1000;
  background-color: $sub-0;
  position: relative;
  z-index: 2;
}
