@use "../../../styles/variables" as *;

.textInput {
  display: flex;
  flex-direction: column;
  width: clamp(200px, 80%, 300px);
  position: relative;

  .textInput_input {
    padding: 8px 12px;
    background-color: $sub-100;
    border-radius: 4px;
    border: 0;
    &:focus {
      outline: none;
    }
  }

  .textInput_label {
    padding: 8px 0;
  }

  .textInput_require {
    color: $red-400;
  }
}
.password_toggle {
  background-color: transparent;
  border: none;
  position: absolute;
  width: fit-content;
  height: fit-content;
  bottom: 2px;
  right: 15px;
}
