@use "./../../../styles/_breakpoints" as *;
@use "./../../../styles/variables" as *;
.title_banner {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  @include respond-to-max(sm) {
    margin-bottom: 10px;
    justify-content: space-between;
  }
}

.title_layout {
  display: flex;
  align-items: baseline;
  margin: 10px 0 20px 0;

  h1 {
    font-size: 1.6rem;
    font-weight: 500;

    @include respond-to-max(md) {
      font-size: 1.4rem;
    }

    @include respond-to-max(sm) {
      font-size: 1.2rem;
      margin-top: 50px;
      font-weight: 500;
    }
  }
}

.filters{
  display: flex;
  gap: 20px;
  @include respond-to-max(sm) {
    flex-direction: column;
    margin-top: 50px;
  }
}

.box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
  @include respond-to-max(sm) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.column_layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 25px 20px 0;
  margin-bottom: 20px;

  @include respond-to-max(md) {
    padding: 20px 0 20px 0;
    margin-bottom: 10px;
  }
}

.box_products {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 300px;
  @include respond-to-max(md) {
    .box_products {
      max-width: 160px;
      gap: 20px;
    }

    .img {
      width: 100px;
      height: 100px;
    }
  }
}
.tab{
  display: flex;
  justify-content: space-between;
}
.operator{
  margin-top: 8px;
  cursor: pointer;
  @include respond-to-max(sm) {
    width: 18px;
    height: 18px;
    margin-right: 10px;
  }
}

.img {
  align-self: center;
  width: 150px;
  height: 150px;
  object-fit: contain;
  transition: all 0.4s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.details {
  margin: 5px 0;
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 5px;
    @include respond-to-max(sm) {
      font-size: 0.8rem;
    }
  }

  p {
    font-size: 0.7rem;
    color: $sub-600;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    @include respond-to-max(sm) {
      font-size: 0.5rem;
    }
  }
}

.stoke {
  display: flex;
  align-items: baseline;
  gap: 5px;

  h3 {
    font-size: 1.4rem;
    font-weight: 400;
  }

  h4 {
    font-size: 0.9rem;
    font-weight: 350;
  }
  @include  respond-to-max(sm) {
    h3{
      font-size: 1.1rem;
    }
    h4{
      font-size: 0.6rem;
    }
  }
}
