@use "../../styles/variables" as *;
.navbar {
  width: 300px;
  height: 100vh;
  background: $Gray200;
  padding: 35px 20px 35px 30px;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .logo {
    font-size: 1.7rem;
    display: flex;
    align-items: baseline;
    color: black;
    font-weight: 650;
    .logo_status {
      padding-left: 10px;
      font-size: 1rem;
      font-weight: 600;
    }
    .logo_dot {
      color: gray;
    }
  }
  .box{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 35px;
    .button{
      background-color: black;
      border-radius: 4.77px;
      display: flex;
      padding: 8.5px;
      align-items: center;
      gap: 15px;
      .plus{
        background-color: white;
        padding: 1px 6.5px;
        border-radius: 50%;
        font-weight: bolder;
        font-size: 1.2rem;
      }
      .text{
        color: white;
      }
    }
    .button_list{
      display: flex;
      align-items: center;
      gap: 10px;
      padding-left: 10px;
      .blog_image{
        object-fit: contain;
        object-position: center;
      }
    }
  }
  .admin{
    display: flex;
    align-items: center;
    gap: 15px;
    .blog_icon{
      object-fit: contain;
      object-position: center;
      border-radius: 50%;
    }
    .name{
      font-size: 1.1rem;
      font-weight: 400;
    }
    .email{
      font-size: 0.8rem;
      color:gray;
    }
  }
}