@use "./../../../styles/_breakpoints" as *;
@use "./../../../styles/variables" as *;

.pagination_wrapper {
  display: flex;
  justify-content: center;
  margin: 30px 0;
  padding: 20px;
}

.page_button {
  border: 2px solid $sub-0;
  border-radius: 50%;
  font-size: 1.125rem;
  font-weight: 400;
  min-width: 42px;
  height: 42px;
  cursor: pointer;
  background: transparent;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: $sub-100;
  }
}

.active {
  background-color: $sub-1000;
  color: $sub-0;
  font-weight: 700;
}

.dots {
  font-size: 1.25rem;
  padding: 0 6px;
  margin-top: 8px;
}

@include respond-to-max(md){
  .pagination_wrapper {
    margin: 20px 0;
    padding: 15px;
  }

  .page_button {
    font-size: 1rem;
    min-width: 38px;
    height: 38px;
  }

  .dots {
    font-size: 1rem;
  }
}

@include respond-to-max(sm) {
  .pagination_wrapper {
    margin: 15px 0;
    padding: 10px;
  }

  .page_button {
    font-size: 0.875rem;
    min-width: 34px;
    height: 34px;
    border-width: 1.5px;
  }

  .dots {
    font-size: 0.875rem;
  }
}

